<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../elements/mobile-filter-common-style/mobile-filter-common-style.html">

<dom-module id="mobile-select-filter">
  <style is="custom-style" include="mobile-filter-common-style">
    paper-menu .menu-item {
      display: block;
      margin-bottom: 10px;
      text-align: left;
      font-size: 16px;
      padding: 5px;
      color: grey;
    }

    .selected {
      color: var(--my-selected-filter-color);
      font-size: 8px;
    }

    iron-icon {
      --iron-icon-width: 12px;
      --iron-icon-height: 12px;
      left: -6px;
    }

    paper-dialog {
      width: 200px;
      padding: 0px;
    }

    paper-dialog-scrollable {
      padding: 0px;
    }
  </style>
  <template>
    <div class="individual-filter-wrapper">
      <span class="individual-filter-label">Filter by stop</span>
      <paper-fab icon="maps:hotel" mini title="Filter by stop" class="white filter-button" on-tap="toggleDialog"></paper-fab>
    </div>
    <paper-dialog id="dialog">
      <paper-dialog-scrollable id="content" class="filter-content">
        <paper-menu>
          <template is="dom-repeat" items="{{content}}" id="filter-options">
            <menu-item class="menu-item" on-tap="selectItem">&nbsp;&nbsp;{{item.option}}</menu-item>
            <span style="display:none">{{item.code}}</span>
          </template>
        </paper-menu>
      </paper-dialog-scrollable>
    </paper-dialog>
  </template>
  <script>
    Polymer({
      is: 'mobile-select-filter',
      properties: {
        header: String,
        content: Array,
        colorOnSelection: String
      },
      ready: function () {
        this.customStyle['--my-selected-filter-color'] = this.colorOnSelection;
      },
      toggleDialog: function () {
        this.$.dialog.toggle();
      },
      selectItem: function (e) {
        this.$.dialog.toggle();
        var selectedCode = e.target.nextElementSibling.innerText;
        var mobileTrainList = document.querySelector("#mobileRouteList");
        mobileTrainList.filterOnNumberOfStops(selectedCode);
      }
    });
  </script>
</dom-module>
