<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="dynamic-div">
  <template>
    <style>
      .dynamic-div {
        @apply(--dynamic-div)
      }
    </style>
    <div class="dynamic-div" id="dynamic-div">

    </div>
  </template>
  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'dynamic-div',
        properties: {
          inlinestyle: {
            type: Object,
            observer:"_onParametersChanged"
          }
        },
        _onParametersChanged: function(style,oldValue){
           var div=Polymer.dom(this.root).querySelectorAll(".dynamic-div")[0];
          if(!Util.isNullOrUndefined(style) && !Util.isNullOrUndefined(style.width) ){
            div.style.width=style.width;
          }
          if(!Util.isNullOrUndefined(style) && !Util.isNullOrUndefined(style.height) ){
            div.style.height=style.height;
          }
        },
        ready: function(){
//          var style=this.inlinestyle;
//          var div=Polymer.dom(this.root).querySelectorAll(".dyanimic-div");
//          if(!Util.isNullOrUndefined(style) && !Util.isNullOrUndefined(style.width) ){
//            div.style.width=style.width;
//          }
//          if(!Util.isNullOrUndefined(style) && !Util.isNullOrUndefined(style.height) ){
//            div.style.height=style.height;
//          }
        }
      });
    })();
  </script>
</dom-module>
