<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../spinner-on-backdrop/spinner-on-backdrop.html">
<link rel="import" href="../mobile-route-list-item/mobile-route-list-item.html">
<link rel="import" href="../mobile-route-list-item-new/mobile-route-list-item-new.html">

<dom-module id="mobile-route-list">
  <template>
    <style is="custom-style">
      :host {
        display: block;
        max-width: 800px;
        margin: 0 auto;
      }

      .mobile-route-list {
        max-width: 800px;
        margin: 0 auto;
      }

      .route-list-parent:last-child {
        padding-bottom: 128px;
      }
    </style>
    <spinner-on-backdrop id="routeListSpinner"></spinner-on-backdrop>
    <div class="fit route-list-parent">
      <iron-list id="routeList" class="mobile-route-list" items="[[routeList]]" as="item" scroll-target="document">
        <template>
          <mobile-route-list-item route-item="[[item]]" on-tap="onItemTap"
                                  class="mobile-route-list-item"></mobile-route-list-item>
        </template>

      </iron-list>
    </div>
    <iron-ajax url="/api/getTrains" on-request="preRequest" on-response="handleResponse" handle-as="json"
               id="getTrainsIronAjax"
               content-type="application/json" body="[[param]]"
               method="POST"></iron-ajax>
  </template>
  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'mobile-route-list',

        properties: {
          routeList: {
            type: Array,
            value: []
          },
          responseList: {
            type: Array,
            value: []
          },
          selectedRoute: {
            type: Object,
            value: {},
            notify: true
          },
          filteredMap: {
            type : Object,
            value: {
              "stops" : "-1",
              "class" : [],
              "trainType" : [],
              "price" : {"min" : -1 , "max" : -1},
              "departureTime" : {"min" : 0 , "max" : 24},
              "arrivalTime" : {"min" : 0 , "max" : 24}
            }
          }
        },
        getAvailability: function (index) {
          if (this.availabilities.length == 0) {
            if (index < this.availabilities.length) {
              return this.availabilities[index];
            }
          }
          return [];
        },
        onItemTap: function (e) {
          this.selectedRoute = e.model.item;
          // Set Header for detail page if required
          var mobileAppHeader=document.querySelector('mobile-app-header');

          document.querySelector("#mobileRouteDetailSection").setRouteList(this.selectedRoute);
          mobileAppHeader.switchToDetailPage(mobileAppHeader.getListPageParam());

        },
        ready: function () {
          this.availabilities = [];
          this.param={};
        },
        initializeRequestParameters:function(param){
          this.param={
            'src':param.source.code,
            'dest':param.destination.code,
            'startTime':param.date
          };
        },
        getTranList: function (param) {
          if (Util.isNullOrUndefined(param) || Util.isEmptyString(param.source) || Util.isEmptyString(param.destination)
            || Util.isEmptyString(param.date) || Util.isEmptyString(param.trainClass)) {
            return;
          }
          this.initializeRequestParameters(param);
          document.querySelector("#getTrainsIronAjax").generateRequest();
        },
        generateListItems:function(data){
          this.routeList=[];
          for(var index=0;index<data.length;index++){
            var route=data[index];
            var trainList=[];
            var distance=0;
            // var totalJourneyTime=0;
            var totalCost=0;
            for(var i=0;i<route.length;i++){
              var hop=route[i];
              var hopItem={
                srcCode:hop['srcCode'],
                srcName:hop['srcName'],
                destCode:hop['destCode'],
                destName:hop['destName'],
                journeyDuration:Util.getHourDiff(hop['startTime'],hop['endTime']),
                formattedJourneyDuration:Util.getFormattedJourneyTime(Util.getHourDiff(hop['startTime'],hop['endTime'])),
                waitTime:i<route.length-1?Util.getHourDiff(hop['endTime'],route[i+1]['startTime']):"0",
                trainName:hop['name'],
                trainNumber:hop['trainNo'],
                formattedStartTime:Util.getFormattedTime(hop['startTime']),
                startTime:hop['startTime'],
                formattedEndTime:Util.getFormattedTime(hop['endTime']),
                endTime:hop['endTime'],
                date:Util.getDateFromTime(hop['startTime'],'DD MMM YYYY'),
                // TODO: Remove dummy when cost and trainClassList are implemented
                price:2000,
                trainType:"RJ",
                trainClassList: ["SL" ,"3A" ,"2A"]
              };
              trainList.push(hopItem);
              distance+=10;
              // totalJourneyTime+=hopItem.journeyDuration+Number(hopItem.waitTime);
              totalCost+=hopItem.price;
            }
            var totalJourneyTime=Util.getHourDiff(route[0]['startTime'],route[route.length-1]['endTime']);
            var routeItem={
              trainList:trainList,
              formattedJourneyDuration:Util.getFormattedJourneyTime(totalJourneyTime),
              formattedStartTime:Util.getFormattedTime(trainList[0].startTime),
              formattedEndTime:Util.getFormattedTime(trainList[trainList.length-1].endTime),
              startTime:trainList[0].startTime,
              endTime:trainList[trainList.length-1].endTime,
              totalJourneyTime:totalJourneyTime,
              totalCost:totalCost,
              start:trainList[0].srcCode
            };
            this.push('routeList',routeItem);
          }
        },
        filterOnNumberOfStops: function(selectedOption , isFromApplyAll){
          if(!isFromApplyAll){
            console.log("Selected option = " + selectedOption);
            this.filteredMap["stops"] = selectedOption;
            this.applyAllFilters();
          }else{
            if(selectedOption != "-1"){
              var len = this.routeList.length;
              var filteredList = [];
              for(var i = 0 ;i<len ; i++){
                if(this.routeList[i].trainList.length == Number(selectedOption) + 1){
                  filteredList.push(this.routeList[i]);
                }
              }
              this.routeList = [];
              filteredList.forEach(function(item){
                this.push('routeList' , item)
              },this);
            }
          }
        },
        filterOnCheckedItems : function(selectedList , type){
          if(type == "class"){
            this.filterOnClass(selectedList , false);
          }else if(type == "train"){
            this.filterOnTrain(selectedList , false);
          }
        },
        filterOnClass: function(selectedList , isFromApplyAll){

          if(!isFromApplyAll){
            this.filteredMap["class"] = [];
            selectedList.forEach(function(value){
              console.log("selected class = " + value);
              this.filteredMap["class"].push(value);
            },this);
            this.applyAllFilters();
          }else{
            if(selectedList.length != 0 ){
              var len = this.routeList.length;
              var self = this;
              var filteredList = [];
              for(var i = 0 ;i<len ; i++){
                var flag = 0;
                for(var j = 0;j<this.routeList[i].trainList.length;j++){
                  var findOne = selectedList.some(function (v) {
                    return self.routeList[i].trainList[j].trainClassList.indexOf(v) >= 0;
                  });
                  if(!findOne){
                    flag = 1;
                    break;
                  }
                }
                if(flag == 0){
                  filteredList.push(this.routeList[i]);
                }
              }
              this.routeList = [];
              filteredList.forEach(function(item){
                this.push('routeList' , item)
              },this);
            }
          }
        },
        filterOnTrain: function(selectedList , isFromApplyAll){
          if(!isFromApplyAll){
            this.filteredMap["trainType"] = [];
            selectedList.forEach(function(value){
              console.log("selected train = " + value);
              this.filteredMap["trainType"].push(value);
            },this);
            this.applyAllFilters();
          }else{
            if(selectedList.length != 0){
              var len = this.routeList.length;
              var self = this;
              var filteredList = [];
              for(var i = 0 ;i<len ; i++){
                var flag = 0;
                for(var j = 0;j<this.routeList[i].trainList.length;j++){
                  var index = selectedList.indexOf(this.routeList[i].trainList[j].trainType);
                  if(index == -1){
                    flag = 1;
                    break;
                  }
                }
                if(flag == 0){
                  filteredList.push(this.routeList[i]);
                }
              }
              this.routeList = [];
              filteredList.forEach(function(item){
                this.push('routeList' , item)
              },this);
            }
          }
        },
        filterOnPrice : function(minPrice , maxPrice , isFromApplyAll){
          console.log("min price : " , minPrice);
          this.filteredMap["price"]["min"] = minPrice;
          console.log("max price : " , maxPrice);
          this.filteredMap["price"]["max"] = maxPrice;
          if(!isFromApplyAll){
            this.applyAllFilters();
          }else{
            var len = this.routeList.length;
            var filteredList = [];
            for(var i = 0 ;i<len ; i++){
              if(this.routeList[i].totalCost <= maxPrice && this.routeList[i].totalCost >= minPrice){
                filteredList.push(this.routeList[i]);
              }
            }
            this.routeList = [];
            filteredList.forEach(function(item){
              this.push('routeList' , item)
            },this);
          }
        },
        filterOnDepartureTime : function(min , max ,isFromApplyAll){
          if(!isFromApplyAll){
            console.log("min departure time : " , min);
            this.filteredMap["departureTime"]["min"] = min;
            console.log("max departure time : " , max);
            this.filteredMap["departureTime"]["max"] = max;
            this.applyAllFilters();
          }else{
            var len = this.routeList.length;
            var self = this;
            var filteredList = [];
            for(var i = 0 ;i<len ; i++){
              var flag = 0;
              var trainList = this.routeList[i].trainList;
              var startTime = Number(trainList[0].formattedStartTime.split(":")[0])
              if(startTime >= min && startTime <= max){
                filteredList.push(this.routeList[i]);
              }
            }
            this.routeList = [];
            filteredList.forEach(function(item){
              this.push('routeList' , item)
            },this);
          }
        },
        filterOnArrivalTime : function(min , max ,isFromApplyAll){
          if(!isFromApplyAll){
            console.log("min arrival time : " , min);
            this.filteredMap["arrivalTime"]["min"] = min;
            console.log("max arrival time : " , max);
            this.filteredMap["arrivalTime"]["max"] = max;
            this.applyAllFilters();
          }else{
            var len = this.routeList.length;
            var self = this;
            var filteredList = [];
            for(var i = 0 ;i<len ; i++){
              var flag = 0;
              var trainList = this.routeList[i].trainList;
              var endTime = Number(trainList[trainList.length - 1].formattedEndTime.split(":")[0])
              if(endTime >= min && endTime <= max){
                filteredList.push(this.routeList[i]);
              }
            }
            this.routeList = [];
            filteredList.forEach(function(item){
              this.push('routeList' , item)
            },this);
          }
        },
        reset: function(){
          this.routeList=[];
          this.resetFilters();
        },
        resetFilters: function(){
        },
        applyAllFilters: function(){
          this.generateListItems(this.responseList);
          if(this.filteredMap["stops"] != "-1"){
            this.filterOnNumberOfStops(this.filteredMap["stops"] , true);
          }
          if(this.filteredMap["class"].length != 0){
            this.filterOnClass(this.filteredMap["class"] , true);
          }
          if(this.filteredMap["trainType"].length != 0){
            this.filterOnTrain(this.filteredMap["trainType"] , true);
          }
          if(this.filteredMap["price"]["max"] != -1 && this.filteredMap["price"]["min"] != -1){
            this.filterOnPrice(this.filteredMap["price"]["min"] ,this.filteredMap["price"]["max"], true);
          }
          if(!(this.filteredMap["departureTime"]["max"] == 24 && this.filteredMap["departureTime"]["min"] == 0)){
            this.filterOnDepartureTime(this.filteredMap["departureTime"]["min"] ,this.filteredMap["departureTime"]["max"], true);
          }
          if(!(this.filteredMap["arrivalTime"]["max"] == 24 && this.filteredMap["arrivalTime"]["min"] == 0)){
            this.filterOnArrivalTime(this.filteredMap["arrivalTime"]["min"] ,this.filteredMap["arrivalTime"]["max"], true);
          }
        },
        handleResponse: function (response,requestObject) {
          this.$.routeListSpinner.hide();
          this.responseList = response['detail']['response'];
          this.generateListItems(this.responseList);
          // Fire iron resize to force re render of list
          this.$.routeList.fire('iron-resize');
        },
        preRequest: function () {
          this.routeList = [];
          this.$.routeListSpinner.show();
        }
      });
    })();
  </script>
</dom-module>
