<dom-module id="mobile-filter-common-style">
  <template>
    <style>
      paper-fab.white {
        --paper-fab-background: var(--paper-green-200);
        --paper-fab-keyboard-focus-background: var(--paper-green-100);
      }
      paper-fab.filter-button {
        margin: 8px 0px;
      }

      .individual-filter-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .individual-filter-label {
        margin-right: 8px;
        font-weight: 700;
        color: #ede2ce;
        font-size: 16px;
        width: 120px;
        text-align: right;
      }
    </style>
  </template>
</dom-module>
