<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">

<link rel="import" href="../mobile-station-search-box/mobile-station-search-box.html">
<link rel="import" href="../mobile-search-page-date-picker/mobile-search-page-date-picker.html">

<dom-module id="mobile-train-search">
  <style is="custom-style">
    /* Custom style */
    :host {
      /* Label and underline color when the input is not focused */
      --paper-input-container-color: #BBDEFB;

      /* Label and underline color when the input is focused */
      --paper-input-container-focus-color: #BBDEFB;

      /* Input foreground color */
      --paper-input-container-input-color: white;
    }

    paper-fab.green {
      --paper-fab-background: var(--paper-teal-300);
      --paper-fab-keyboard-focus-background: var(--paper-teal-300);
      --paper-fab-disabled-background: var(--paper-grey-300);
    }

    /* Normal css */
    .fieldset {
      font-size: medium;
      margin-bottom: 10%;
      width: 100%;
      height: 100%;
      position: relative;
    }

    paper-button[disabled] {
      opacity: 0.66;
    }

    .main-input-wrapper {
      /* Unify it with common css */
      background: #2196F3;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .main-input {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 32px 32px 48px 32px;
      max-width: 730px;
      margin: auto;
      position: relative;
    }

    .station-input {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      max-width: 560px;
    }

    .secondary-input {
      padding: 32px;
      max-width: 730px;
      margin: auto;
    }

    .action-button {
      position: absolute;
      right: 38px;
      top: 170px;
    }

    vaadin-combo-box {
      paper-input-container {
        .vaadin-combo-box {
          --paper-input-container-color: var(--paper-grey-400);
          --paper-input-container-focus-color: var(--paper-grey-400);
          --paper-input-container-input-color: var(--paper-grey-900);
        }
      }
    }
  </style>

  <template>
    <div class="fieldset">
      <div class="wrapper">
        <div class="main-input-wrapper">
          <div class="main-input">
            <div class="station-input">
              <paper-input id="fromStation" class="input-field" on-tap="openAutocomplete" value="[[fromStation.name]]"
                           label="Departure"></paper-input>
              <paper-input id="toStation" class="input-field" on-tap="openAutocomplete" value="[[toStation.name]]"
                           label="Arrival"></paper-input>
            </div>
            <div class="time-input">
              <mobile-search-page-date-picker id="date-picker"></mobile-search-page-date-picker>
            </div>
            <div class="action-button">
              <paper-fab icon="search" title="Search" class="green" disabled="[[searchButtonDisabled]]"
                         on-tap="findYourRoute"></paper-fab>
            </div>
          </div>
        </div>
        <div class="secondary-input">
          <vaadin-combo-box label="Class" class="input-field" items="[[classes]]" value="{{trainClass}}"></vaadin-combo-box>
          <mobile-station-search-box id="mobileStationSearchBox" selected-value="{{selectedStation}}"></mobile-station-search-box>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: "mobile-train-search",
      properties: {
        fromStation: {
          type: Object,
          value: {"name": "", "code": ""}
        },
        travelDate: {
          type: Date,
          value: function () {
            return new Date()
          }
        },
        toStation: {
          type: Object,
          value: {"name": "", "code": ""}
        },
        selectedStation: {
          type: Object,
          value: {},
          observer: "_onSelectedStationChange"
        },
        trainClass: {
          type: String,
          value: ""
        },
        classes: {
          type: Array,
          value: ["Sleeper", "3A", "2A", "General"],
          notify: true
        }
      },
      observers: [
        '_searchParametersChanged(fromStation, toStation,travelDate,trainClass)'
      ],
      _searchParametersChanged: function (fromStation, toStation, travelDate, trainClass) {
        if (Util.isEmptyString(fromStation.code) || Util.isEmptyString(toStation.code)
          || Util.isEmptyString(travelDate) || Util.isEmptyString(trainClass)) {
          this.searchButtonDisabled = true;
        }
        else {
          this.searchButtonDisabled = false;
        }
      },
      _onSelectedStationChange: function (newValue, oldValue) {
        if (this.isFromClicked) {
          this.fromStation = newValue;
        }
        else {
          this.toStation = newValue;
        }
      },
      openAutocomplete: function (e) {
        if (e.currentTarget.id === "toStation") {
          this.isFromClicked = false;
        }
        else if (e.currentTarget.id === "fromStation") {
          this.isFromClicked = true;
        }
        this.$.mobileStationSearchBox.openAutoComplete();
      },
      isParamSameAsBefore: function (param) {
        if (this.prevParam.source.code === param.source.code
          && this.prevParam.destination.code === param.destination.code
          && this.prevParam.date === param.date
          && this.prevParam.trainClass === param.trainClass) {
          return true;
        }
        return false;
      },
      findYourRoute: function (e) {
        var mobileAppHeader = document.querySelector('mobile-app-header');
        var mobileRouteList = document.querySelector("#mobileRouteList");
        var param = {
          source: this.fromStation,
          destination: this.toStation,
          date: moment(this.travelDate).valueOf(),
          trainClass: this.trainClass
        };
        if (Util.isNullOrUndefined(this.prevParam) || !this.isParamSameAsBefore(param)) {
          mobileRouteList.reset();
          mobileRouteList.getTranList(param);
          this.prevParam = param;
        }

        mobileAppHeader.switchToListHeader(param);

      }
    });
  </script>

</dom-module>
