<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/iron-overlay-behavior/iron-overlay-backdrop.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">

<dom-module id="mobile-result-filter">
  <style>
    .hidden {
      display: none;
    }

    .filter-control {
      position: fixed;
      right: 0;
      bottom: 0;
      margin: 24px;
    }

    .real-filter-container {
      position: fixed;
      right: 0;
      bottom: 82px;
      margin: 8px 32px;
    }

    paper-fab.blue {
      --paper-fab-background: var(--paper-light-blue-500);
      --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
    }
  </style>

  <template>
    <div id="facade" class="facade-filter-wrapper">
      <paper-fab icon="filter-list" title="Filter" class="blue filter-control" on-tap="_explode"></paper-fab>
    </div>

    <div id="real" class="real-filter-container-wrapper hidden">
      <iron-overlay-backdrop id="filterBackdrop"></iron-overlay-backdrop>
      <paper-fab id="closeFilter" icon="clear" title="Close" class="blue filter-control" on-tap="_implode"></paper-fab>
      <div id="filterContainer" class="real-filter-container">
        <mobile-select-filter header='Stops ' content='[{"option": "Any" , "code" : -1},
            {"option": "Non Stop" , "code" : 0},
            {"option": "Up to 1 Stop" , "code" : 1},
            {"option": "Up to 2 Stops" , "code" : 2}]' color-on-selection="green"></mobile-select-filter>
        <mobile-time-slider-filter header="Times"></mobile-time-slider-filter>
        <mobile-check-filter header='class' content='[{"option": "All" , "code":"0"},{"option": "SL" , "code":"SL"},{"option": "2S" , "code":"2S"},
            {"option": "3A" , "code":"3A"},{"option": "CC" , "code":"CC"},
            {"option": "2A" , "code":"2A"},{"option": "1A" , "code":"1A"}]' type="class"
                             color-on-selection="green"
                             icon="notification:airline-seat-recline-normal"></mobile-check-filter>
        <mobile-check-filter header='train' content='[{"option": "All","code":"-1"},
                {"option": "Mail/Express","code":"XP"},
                {"option": "Rajdhani" , "code":"RJ"},
                {"option": "Shatabdi" , "code":"SH"},
                {"option": "Jan-Shatabdi" ,"code":"JS"},
                {"option": "Garibrath" , "code":"GR"}]'
                             type="train" color-on-selection="green"
                             icon="maps:directions-railway"></mobile-check-filter>
        <mobile-price-filter header="Price" min-price="100" max-price="5000" max="5000"></mobile-price-filter>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: "mobile-result-filter",
      properties: {
        animationConfig: {
          type: Object,
          value: function() {
            return {
              'filter-entry': [{
                name: 'scale-up-animation',
                axis: 'y',
                transformOrigin: '0 105%',
                node: this.$.filterContainer
              }, {
                name: 'fade-in-animation',
                node: this.$.filterContainer
              }],
              'filter-button-entry': [{
                name: 'fade-in-animation',
                node: this.$.facade
              }],
              'filter-button-exit': [{
                name: 'fade-out-animation',
                node: this.$.facade
              }]
            }
          }
        }
      },
      behaviors: [
        Polymer.NeonAnimationRunnerBehavior
      ],
      _explode: function () {
        this.$.real.classList.remove("hidden");
        this.$.filterBackdrop.open();
        this.playAnimation('filter-button-exit');
        this.playAnimation('filter-entry');
      },
      _implode: function () {
        this.$.filterBackdrop.close();
        this.$.real.classList.add("hidden");
        this.playAnimation('filter-button-entry');
      }
    });
  </script>
</dom-module>
