
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../mobile-route-item-line/mobile-route-item-line.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<dom-module id="mobile-route-list-item">
  <template>
    <style>
      :host{
         padding:0 var(--size-base);
         /* Need to override the absolute position coming from iron list because of bad css design at parent */
         position: relative !important;
       }

      /* Add padding to the last child to prevent overlap with the filter floating button */
      :host:last-child {
        padding-bottom: 128px;
      }

      :root{
        --paper-card: {
          width:100%;
          margin-bottom: 16px;
        };
        --route-line-hop:{

          font-size: 12px;
          color: var(--text-light);
          font-weight: bold;
        }
      }
      .mobile-route-item-top{
        display:flex;
        justify-content: space-between;
        margin-bottom:8px;
      }

      .train-names{
        font-size: 14px;
        white-space: nowrap;
          overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
        width: 80%;
        padding-top: 2px;
      }

      .journey-time{
        color: #157ed2;
        text-align: right;
        font-weight: bold;
      }

      .mobile-route-item-lines{
        width:70%;
      }

      .route-item-start-time{
        padding-top: 10px;
      }

      .route-item-end-time{
        padding-top: 10px;
      }

      .mobile-route-item-middle{
        display: flex;
        justify-content: space-between;
        margin-top: 4px;
      }
    </style>

    <paper-card id="mobile-route-list-item-paper">
      <div class="card-content ">
        <div class="mobile-route-item-top">
          <span class="train-names">{{getFormattedTrainNames(routeItem.trainList)}}</span>
          <span class="journey-time">[[routeItem.formattedJourneyDuration]]</span>
        </div>
        <div class="mobile-route-item-middle">
          <span class="route-item-start-time">[[routeItem.formattedStartTime]]</span>
          <mobile-route-item-line train-list="[[routeItem.trainList]]" id="mobile-route-item-line" class="mobile-route-item-lines"
                                  start="[[routeItem.start]]" price="[[routeItem.price]]"></mobile-route-item-line>
          <span class="route-item-end-time">[[routeItem.formattedEndTime]]</span>
        </div>
      </div>
    </paper-card>

  </template>
  <script>
    (function () {
      'use strict';
      Polymer({
        is: 'mobile-route-list-item',
        properties: {
          routeItem: {
            type: Object
          }
        },
        getFormattedTrainNames:function(trainList){
          var trainNames="";
          trainList.forEach(function(train){
            trainNames+=train.trainName+","+" ";
          });
          return trainNames.slice(0,trainNames.length-2);
        },
        getFormattedPrice:function(price){
          return "RS " +price;
        },
      });
    })();
  </script>
</dom-module>
