<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../elements/paper-rangeslider-master/paper-rangeslider.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../elements/mobile-filter-common-style/mobile-filter-common-style.html">

<dom-module id="mobile-time-slider-filter">
  <style  is="custom-style" include="mobile-filter-common-style">
    .slider {
      display:block;
      text-align: left;
      font-size:16px;
    }
    .slider-header{
      font-size: 15px;
      padding:15px;
    }
    paper-button{
      font-size: 12px;
      text-transform: none;
      padding:5px;
      min-width: 0px;
    }
    iron-icon{
      --iron-icon-width : 12px;
      --iron-icon-height : 12px;
      left:-6px;
    }
    paper-dialog {
      width:200px;
      padding: 0px;
    }
    paper-dialog-scrollable {
      padding: 0px;
    }
    paper-radio-button {
      margin-left:10px;
      padding:0px;
      --paper-radio-button-label-spacing : 5px;
    }
    paper-radio-group {
      font-size:10px;
      margin-bottom:30px;
      margin-left:10px;
    }
    .interval{
      font-size: 10px;
      float:right;
      margin-right: 15px;
      color:green;
    }
    .buttons{
      text-transform: none;
    }
  </style>
  <template>
    <div class="individual-filter-wrapper">
      <span class="individual-filter-label">Filter by time</span>
      <paper-fab icon="device:access-time" mini title="Filter by time" class="white filter-button" on-tap="toggleDialog"></paper-fab>
    </div>
    <paper-dialog id="dialog">
      <paper-dialog-scrollable id="content" class="filter-content">
        <div class="slider" style="padding-top: 10px;">
         <span class="slider-header" >Departure</span>
          <span id="intervalDeparture" class='interval'></span>
          <paper-rangeslider id="departureRangeSlider" class="rangeSlider" value-min="0" value-max="24" max="24" on-immediate-value-change="slideDeparture" pin></paper-rangeslider>
        </div>
        <paper-radio-group selected="any">
          <paper-radio-button name="morning" on-change="selectDepartureTimeOfDay">Morning</paper-radio-button>
          <paper-radio-button name="day" on-change="selectDepartureTimeOfDay">Day</paper-radio-button>
          <paper-radio-button name="night" on-change="selectDepartureTimeOfDay">Night</paper-radio-button>
          <paper-radio-button name="any" on-change="selectDepartureTimeOfDay">Any</paper-radio-button>
        </paper-radio-group>
        <div class="slider">
          <span class="slider-header">Arrival</span>
          <span id="intervalArrival" class='interval'></span>
          <paper-rangeslider id="arrivalRangeSlider" class="rangeSlider" value-min="0" value-max="24" max="24" on-immediate-value-change="slideArrival" pin></paper-rangeslider>
        </div>
        <paper-radio-group selected="any">
          <paper-radio-button name="morning" on-change="selectArrivalTimeOfDay">Morning</paper-radio-button>
          <paper-radio-button name="day" on-change="selectArrivalTimeOfDay">Day</paper-radio-button>
          <paper-radio-button name="night" on-change="selectArrivalTimeOfDay">Night</paper-radio-button>
          <paper-radio-button name="any" on-change="selectArrivalTimeOfDay">Any</paper-radio-button>
        </paper-radio-group>
        <div class="buttons">
          <paper-button dialog-dismiss>Cancel</paper-button>
          <paper-button dialog-confirm on-tap="applyFilter">Accept</paper-button>
        </div>

      </paper-dialog-scrollable>
    </paper-dialog>
  </template>
  <script>
    Polymer({
      is: 'mobile-time-slider-filter',
      properties:{
        header : String,
        content : Array,
        colorOnSelection : String,
        departure:{
          type: Object,
          value : {min : 0, max:24}
        },
        arrival:{
          type: Object,
          value : {min : 0, max:24}
        }
      },
      toggleDialog: function() {
        this.$.dialog.toggle();
      },
      slideDeparture: function(e){
        this.updateDeparture(e.currentTarget.immediateMin,e.currentTarget.immediateMax);
      },
      slideArrival: function(e){
        this.updateArrival(e.currentTarget.immediateMin,e.currentTarget.immediateMax);
      },
      updateDeparture: function(immediateMin , immediateMax){

        if(immediateMax == 24) {
          this.$.intervalDeparture.innerText = immediateMin + ":00" + " - " + "23:59";
        }
        else{
          this.$.intervalDeparture.innerText = immediateMin+":00" +" - " + immediateMax+":00";
        }
        if(this.departure != undefined){
          this.departure.min = immediateMin;
          this.departure.max = immediateMax;
        }

      },
      updateArrival: function(immediateMin , immediateMax){

        if(immediateMax == 24) {
          this.$.intervalArrival.innerText = immediateMin + ":00" + " - " + "23:59";
        }
        else{
          this.$.intervalArrival.innerText = immediateMin+":00" +" - " + immediateMax+":00";
        }
        if(this.arrival != undefined){
          this.arrival.min = immediateMin;
          this.arrival.max = immediateMax;
        }

      },
      selectDepartureTimeOfDay: function(e){
        this.updateSlider(this.$.departureRangeSlider , e.target.innerText);
        this.updateDeparture(this.$.departureRangeSlider.immediateMin ,this.$.departureRangeSlider.immediateMax );
      },
      selectArrivalTimeOfDay: function(e){
        this.updateSlider(this.$.arrivalRangeSlider , e.target.innerText);
        this.updateArrival(this.$.arrivalRangeSlider.immediateMin ,this.$.arrivalRangeSlider.immediateMax );
      },
      updateSlider: function(sliderElement , time){
        switch(time) {
          case 'Morning':
            sliderElement.immediateMin = "03";
            sliderElement.immediateMax = "10";
            break;
          case 'Day':
            sliderElement.immediateMin = "10";
            sliderElement.immediateMax = "18";
            break;
          case 'Night':
            sliderElement.immediateMin = "18";
            sliderElement.immediateMax = "24";
            break;
          case 'Any':
            sliderElement.immediateMin = "00";
            sliderElement.immediateMax = "24";

        }
      },
      applyFilter: function(){
        var mobileTrainList = document.querySelector("#mobileRouteList");
        mobileTrainList.filterOnDepartureTime(this.departure["min"] , this.departure["max"]);
        mobileTrainList.filterOnArrivalTime(this.arrival["min"] , this.arrival["max"]);
      }

    });
  </script>
</dom-module>

