<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../elements/paper-rangeslider-master/paper-rangeslider.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../elements/mobile-filter-common-style/mobile-filter-common-style.html">

<dom-module id="mobile-price-filter">
  <style is="custom-style" include="mobile-filter-common-style">
    .slider {
      display:block;
      text-align: left;
      font-size:16px;
    }
    .slider-header{
      font-size: 15px;
      padding:15px;
    }
    paper-dialog {
      width:200px;
      padding: 0px;
    }
    paper-dialog-scrollable {
      padding: 0px;
    }
    iron-icon{
      --iron-icon-width : 12px;
      --iron-icon-height : 12px;
      left:-6px;
    }
    paper-button{
      font-size: 12px;
      text-transform: none;
      padding:5px;
      min-width: 0px;
    }
    .interval{
      font-size: 10px;
      float:right;
      margin-right: 15px;
      color:green;
    }
    paper-rangeslider {
      margin-top: 30px;
    }
  </style>
  <template>
    <div class="individual-filter-wrapper">
      <span class="individual-filter-label">Filter by price</span>
      <paper-fab icon="editor:attach-money" mini title="Filter by price" class="white filter-button" on-tap="toggleDialog"></paper-fab>
    </div>
    <paper-dialog id="dialog">
      <paper-dialog-scrollable id="content" class="filter-content">
        <div class="slider" style="padding-top: 10px;">
          <span class="slider-header" >Price</span>
          <span id="intervalPrice" class='interval'></span>
          <paper-rangeslider id="arrivalRangeSlider" class="rangeSlider" value-min="{{minPrice}}" value-max="{{maxPrice}}" max="{{max}}"  pin on-immediate-value-change="slidePrice"></paper-rangeslider>
        </div>

      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm on-tap="applyFilter">Accept</paper-button>
      </div>
    </paper-dialog>
  </template>
  <script>
    Polymer({
      is: 'mobile-price-filter',
      properties:{
        header : String,
        minPrice : Number,
        maxPrice : Number,
        max : Number,
        price:{
          type: Object,
          value : {min : "", max:""}
        }
      },
      ready: function() {
        this.customStyle['--my-selected-filter-color'] = this.colorOnSelection;
      },
      toggleDialog: function() {
        this.$.dialog.toggle();
      },
      slidePrice: function(e) {
        this.updatePrice(e.currentTarget.immediateMin,e.currentTarget.immediateMax);
      },
      applyFilter: function() {
        console.log(this.minPrice);
        console.log(this.maxPrice);
        var mobileTrainList = document.querySelector("#mobileRouteList");
        mobileTrainList.filterOnPrice(this.minPrice , this.maxPrice);
      },
      updatePrice: function(immediateMin , immediateMax) {
        this.$.intervalPrice.innerText = "Rs." + immediateMin+ " - " + "Rs. " + immediateMax;
        if(this.price != undefined){
          this.price.max = immediateMax;
          this.price.min = immediateMin;
        }

      }

    });
  </script>
</dom-module>

