<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Polymer Starter Kit">
  <title>ALTERoute</title>

  <!-- Place favicon.ico in the `app/` directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#2E3AA1">

  <!--<link rel="import" href="bower_components/polymer-themes/dark-side.html" type="css">-->
  <!-- Web Application Manifest --
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PSK">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <!-- endbuild -->

  <!-- Because this project uses vulcanize this should be your only html import
       in this file. All other imports should go in elements.html -->
  <link rel="import" href="elements/elements.html">

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles"></style>

</head>

<body unresolved class="fullbleed layout vertical">
<span id="browser-sync-binding"></span>
<template is="dom-bind" id="app">
  <paper-scroll-header-panel fixed id="headerPanelMain">
    <!-- Main Toolbar -->
    <paper-toolbar id="mainToolbar">
      <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
      <mobile-app-header id="mobileAppHeader" ></mobile-app-header>
    </paper-toolbar>
    <!-- Main Content -->
    <div class="main-content">
      <iron-pages attr-for-selected="data-route" selected="{{route}}">
        <section data-route="home">
          <paper-material elevation="1">
            <p>Looking for more Web App layouts? Check out our <a
              href="https://github.com/PolymerElements/app-layout-templates">layouts</a> collection. You can also
              <a href="http://polymerelements.github.io/app-layout-templates/">preview</a> them live.</p>
          </paper-material>
        </section>
        <section data-route="search">
          <div class="outer-content-div">
            <mobile-train-search></mobile-train-search>
          </div>
        </section>
        <section class="list-type" data-route="route-list">
          <mobile-route-list id="mobileRouteList"></mobile-route-list>
          <mobile-result-filter id="mobileResultFilter"></mobile-result-filter>
        </section>
        <section class="list-type" data-route="route-detail">
          <mobile-route-detail id="mobileRouteDetailSection"></mobile-route-detail>
        </section>
      </iron-pages>
    </div>
  </paper-scroll-header-panel>
  <paper-toast id="toast">
    <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span>
  </paper-toast>
  <platinum-sw-register skip-waiting
                        clients-claim
                        auto-register
  >
    <platinum-sw-cache default-cache-strategy="fastest"></platinum-sw-cache>
  </platinum-sw-register>
</template>

<!-- build:js scripts/app.js -->
<script src="scripts/app.js"></script>
<script src="scripts/util.js"></script>
<script src="scripts/constants.js"></script>
<script src="scripts/station_search.js"></script>

<!-- endbuild-->
</body>

</html>
