<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../../bower_components/paper-date-picker/paper-date-picker-dialog-style.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-from-bottom-animation.html">

<dom-module id="mobile-search-page-date-picker">
  <style is="custom-style" include="paper-date-picker-dialog-style">
    .summary-info {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      padding-top: 24px;
      padding-left: 16px;
      cursor: pointer;
    }
    .day {
      color: #0D47A1;
      font-size: 42px;
    }
    .month-year {
      color: #0D47A1;
      font-size: 16px;
      width: 78px;
      text-align: center;
    }
  </style>

  <template>
    <div class="summary-info" on-tap="openCalendar">
      <span class="day">{{selectedDay}}</span>
      <span class="month-year">{{selectedMonthYear}}</span>
    </div>
    <paper-dialog id="dialog" class="paper-date-picker-dialog" modal entry-animation="slide-from-bottom-animation">
      <paper-date-picker id="picker" date="{{today}}" min-date="{{minDate}}" max-date="{{maxDate}}"></paper-date-picker>
      <div class="buttons">
        <paper-button dialog-confirm>OK</paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
    Polymer({
      is: "mobile-search-page-date-picker",
      properties: {
        selectedDay: {
          type: String,
          value: function() {
            return this._getSelectedDay();
          }
        },
        selectedMonthYear: {
          type: String,
          value: function() {
            return this._getSelectedMonthYear();
          }
        },
        minDate: {
          type: Date,
          value: function() {
            return this._getOffsetDateInMonthsFromToday(0);
          }
        },
        maxDate: {
          type: Date,
          value: function() {
            return this._getOffsetDateInMonthsFromToday(2);
          }
        },
        today: {
          type: Date,
          value: function() {
            return this._getOffsetDateInMonthsFromToday(0);
          }
        }
      },
      listeners: {
        'iron-overlay-closed': '_refreshCalendarSummary'
      },
      openCalendar: function() {
        this.$.dialog.open();
      },
      _getSelectedDay: function() {
        return this.$.picker.dateFormat(this.$.picker.date, 'DD');
      },
      _getSelectedMonthYear: function() {
        return this.$.picker.dateFormat(this.$.picker.date, 'MM / YYYY')
      },
      _refreshCalendarSummary: function() {
        this.selectedDay = this._getSelectedDay();
        this.selectedMonthYear = this._getSelectedMonthYear();
      },
      _getOffsetDateInMonthsFromToday: function(offset) {
        var d = new Date();
        d.setMonth(d.getMonth() + offset);
        return d;
      },
      ready: function() {
        this._refreshCalendarSummary();
      }
    });
  </script>
</dom-module>
