<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="mobile-check-filter">
  <style is="custom-style" include="mobile-filter-common-style">
    .filter-content{
      padding: 5%;
    }
    .filter-content paper-checkbox {
      display:block;
      margin-bottom : 5%;
    }
    paper-dialog {
      width:200px;
      padding: 0px;
    }
    .checkbox-container {
      margin-left:10%;
    }
    iron-icon{
      --iron-icon-width : 12px;
      --iron-icon-height : 12px;
      left:-6px;
    }
    paper-button{
      font-size: 12px;
      text-transform: none;
      padding:5px;
      min-width: 0px;
    }
    .selected {
      color: var(--my-selected-filter-color);
    }

    paper-checkbox {
      --paper-checkbox-label-color : grey;
    }
  </style>
  <template>
    <div class="individual-filter-wrapper">
      <span class="individual-filter-label">Filter by {{header}}</span>
      <paper-fab icon="{{icon}}" mini title="Filter by {{header}}" class="white filter-button" on-tap="toggleDialog"></paper-fab>
    </div>
    <paper-dialog id="dialog">
      <paper-dialog-scrollable id="content" class="filter-content">
        <div id='checkboxes'>
          <template is="dom-repeat" items="{{content}}" id="filter-options">
            <div class='checkbox-container' on-tap="filterChecked">
              <paper-checkbox checked="{{item.checked}}">{{item.option}}</paper-checkbox>
            </div>
          </template>
        </div>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm on-tap="applyFilter">Accept</paper-button>
      </div>
    </paper-dialog>
  </template>
  <script>
    Polymer({
      is: 'mobile-check-filter',
      properties:{
        header : String,
        content : Array,
        type : String,
        icon : String,
        colorOnSelection : String
      },
      ready: function() {
        this.customStyle['--my-selected-filter-color'] = this.colorOnSelection;
      },
      toggleDialog: function() {
        this.$.dialog.toggle();
      },
      applyFilter: function() {
        var checkedValue = this.getCheckedItem();
        var mobileTrainList = document.querySelector("#mobileRouteList");
        mobileTrainList.filterOnCheckedItems(checkedValue , this.type);
      },
      filterChecked: function(e) {
        var $checkboxContainer = e.currentTarget;
        var $checkboxElement = $checkboxContainer.firstElementChild;
        if($checkboxContainer.parentNode.firstElementChild == $checkboxContainer){
          var len = this.content.length;
          if($checkboxElement.checked){
            for(var i =1 ;i<len;i++){
              $checkboxContainer.parentNode.children[i].firstElementChild.checked = true;
            }
          }else{
            for(var i =0 ;i<len;i++){
              $checkboxContainer.parentNode.children[i].firstElementChild.checked = false;
            }
          }
        }else{
          $checkboxContainer.parentNode.firstElementChild.firstElementChild.checked = false;
        }
      },
      getCheckedItem: function() {
        var len = this.content.length;
        var checkedCount = 0;
        var checkedValues = [];
        for(var i =1 ;i<len;i++){
          if(this.content[i].checked == true){
            checkedValues[checkedCount++]=this.content[i].code;
          }
        }
        return checkedValues;
      }

    });
  </script>
</dom-module>
