<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../mobile-station-list/mobile-station-list.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-down-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<link rel="import" href="../../bower_components/neon-animation/animations/scale-down-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-from-bottom-animation.html">

<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html">

<dom-module id="mobile-station-search-box">
  <template>
    <style>

      .search-input-dialog {
        height: 100vh;
        width: 100vw;
        margin: 0;
      }

      .search-input-div {
        display: flex;
        flex-direction: row;
        background-color: var(--default-primary-color);
        margin-top: 0;
        padding: 0;
      }

      .search-input-close {
        margin-right: 8px;
        color: white;
        --iron-icon-height: 22px;
        --iron-icon-width: 22px;
        padding: 18px 8px 10px 10px;

      }

      .search-input-back {
        margin-right: 8px;
        color: white;
        --iron-icon-height: 22px;
        --iron-icon-width: 22px;
        padding: 18px 8px 10px 10px;
      }

      .search-input-cut {
        color: white;
        --iron-icon-height: 20px;
        margin-top: 4px;
        --iron-icon-width: 20px;
        padding: 18px 8px 10px 10px;
      }

      .search-input-input {
        margin-top: -10px;
        width: 90%;
        padding: 20px 20px 10px 0px;
        --paper-input-container-underline: {
          display: none;
        };
        --paper-input-container-underline-focus: {
          display: none;
        };
        --paper-input-container-input-color: white;
        --paper-input-container-color: white;

      }

      .search-input-popular-stations-container {
        padding: 0;
        margin: 0;
      }

      .search-input-popular-title {
        padding: 20px 15px;
        background: #fff;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        letter-spacing: 0.018em;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        margin-top: 0;
      }

      .search-input-search-results {
        margin: 0;
        padding: 0 15px;
      }

      .search-input-popular-list {
        margin: 0;
        padding: 0 15px;
      }

      .search-input-padding-box {
      }
    </style>
    <iron-ajax id="search-input-iron-ajax"
               auto
               loading="{{activeRequest}}"
               url="[[_allStationUrl]]"
               debounce-duration="300"
               handle-as="text"
               last-response="{{allStationResponse}}">
    </iron-ajax>


    <paper-dialog id="searchInput" class="search-input-dialog" entry-animation="slide-from-bottom-animation"
                  >
      <div class="search-input-div">
        <iron-icon on-tap="_onCloseSearchInput" class="search-input-close" icon="icons:close"
                   hidden$="{{!emptySearchInput}}"></iron-icon>
        <iron-icon on-tap="_onCloseSearchInput" class="search-input-back"
                   icon="icons:arrow-back"
                   hidden$="{{emptySearchInput}}"></iron-icon>

        <paper-input value="{{searchInputValue}}" class="search-input-input"
                     id="searchInputBox" autofocus=true no-label-float=true
                     label="Search for a City or Station"></paper-input>
        <iron-icon on-tap="_onSearchInputCut" class="search-input-cut" icon="icons:close"
                   hidden$="{{emptySearchInput}}"></iron-icon>

      </div>
      <div class="search-input-popular-stations-container" id="popularStationsContainer" hidden$="{{searchEnabled}}">
        <div class="search-input-popular-title">
          <span>Popular Cities</span>
        </div>
        <div class="search-input-popular-list">

          <mobile-station-list station-list='[[popularStationList]]'
                               selected-station="{{_selectedPopularStation}}"></mobile-station-list>

        </div>
      </div>
      <div class="search-input-search-results" entry-animation="scale-up-animation" hidden$="{{!searchEnabled}}"
           exit-animation="scale-down-animation" id="searchResultsContainer">
        <mobile-station-list station-list='[[extractedStations]]'
                             selected-station="{{_selectedStation}}"></mobile-station-list>
      </div>
    </paper-dialog>
  </template>
  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'mobile-station-search-box',
        ready() {
          this._allStationUrl = '/data/all_station_list.csv';
          this.stationList = [];
          this.popularStationList = [{"code": "All", "name": "Shahjahanpur All Stations"},
            {"code": "All", "name": "Chennai, All Stations"},
            {"code": "All", "name": "Kolkata, All Stations"},
            {"code": "All", "name": "New Delhi, All Stations"},
            {"code": "All", "name": "Hyderabad, All Stations"},
            {"code": "All", "name": "Mumbai, All Stations"},
            {"code": "All", "name": "Goa, All Stations"},
            {"code": "All", "name": "Kolkata, All Stations"},
            {"code": "All", "name": "Bangalore, All Stations"},
            {"code": "All", "name": "Ahmedabad, All Stations"},
            {"code": "All", "name": "Pune, All Stations"}];

          this.searchHandler = new StationSearch([], this.searchLimit);
        },
        properties: {
          activeRequest: {
            type: Boolean,
            value: true
          },
          allStationResponse: {
            type: Object,
            observer: '_onChangeStationsList'
          },
          selectedValue: {
            type: Object,
            value: {},
            notify: true
          },
          clearValue: {
            type: Boolean,
            value: true
          },
          searchEnabled: {
            type: Boolean,
            value: false
          },
          searchLimit:{
            type:Number,
            value:10
          },
          extractedStations: {
            type: Array,
            value: []
          },
          emptySearchInput: {
            type: Boolean,
            value: true
          },
          searchInputValue: {
            type: String,
            value: function () {
              return "";
            },
            observer: '_searchInputChanged'
          },
          _selectedPopularStation: {
            type: Object,
            value: {},
            observer: '_onPopularStationTap'
          },
          _selectedStation: {
            type: Object,
            value: {},
            observer: '_onStationTap'
          }
        },

        // Event Binding functions in this section
        _onCloseSearchInput: function () {
          setTimeout(function(){
            this.closeAutoComplete();
          }.bind(this),APP_CONSTANTS.DIALOG_CLOSE_TIME);

        },
        _onSearchInputCut: function () {
          this.searchInputValue = "";
        },


        // All observers and defined in this section
        _onPopularStationTap: function (newValue, oldValue) {
          if (!newValue || JSON.stringify(newValue) === "{}") {
            return;
          }
          this.selectedValue = newValue;
          this.closeAutoComplete();
        },
        _onStationTap: function (newValue, oldValue) {
          if (!newValue || JSON.stringify(newValue) === "{}") {
            return;
          }
          this.selectedValue = newValue;
          this.closeAutoComplete();
        },
        _searchInputChanged: function (newValue, oldValue) {
          if (newValue === undefined) {
            return;
          }
          this._modifySearchInput(newValue);
          if (newValue.length > 2) {
            this._extractResults(newValue);
            this.searchEnabled = true;
          }
          else {
            this.searchEnabled = false;
          }
        },
        _onChangeStationsList: function (newValue, oldValue) {
          if (newValue == null) {
            return;
          }
          var data = newValue.split('\n');
          for(var index=1;index<data.length;index++){
            var parsedLine=data[index].split(',');
            if(Util.isEmptyString(data[index]) ||
              Util.isEmptyString(parsedLine[0]) || Util.isEmptyString(parsedLine[1])){
              continue;
            }
            var item={
              'code':parsedLine[0],
              'name':parsedLine[1]
            };
            this.stationList.push(item);
          }
          this.searchHandler.setData(this.stationList);
        },
        // Auxiliary function in this section
        getSelectedValue: function () {
          return this.selectedValue;
        },
        openAutoComplete: function () {
          this.$.searchInputBox.focus();
          this.$.searchInput.open();
        }
        , closeAutoComplete: function () {
          if (this.clearValue) {
            this.searchInputValue = "";
          }

          this.$.searchInput.close();
        },

        _modifySearchInput: function (newValue) {
          if (newValue === "") {
            this.emptySearchInput = true;
          }
          else {
            this.emptySearchInput = false;
          }
        },
        _extractResults: function (value) {
          this.extractedStations=this.searchHandler.searchStations(value);
        }
      });
    })();
  </script>
</dom-module>
