<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html"/>
<link rel="import" href="../../bower_components/paper-item/paper-item.html"/>
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html"/>
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<dom-module id="mobile-route-detail-item">

  <template>
    <style>
      .mobile-route-detail-item {
      }
      .route-detail-item-full-detail {
        @apply(--layout-horizontal);
      }
      .route-detail-item-train-detail {
        @apply(--layout-horizontal);
        @apply(--layout-justified);
      }
      .route-detail-item-train-availability {
        display: block;
        font-size: 80%;
        text-align: center;
        width : 100%;

      }
      .route-detail-item-train-availability-hidden {
        display: none;
      }
      paper-fab {
        min-width: 40px;
        max-width: 40px;
      }
      .route-detail-item-train-availability-spinner-hidden {
        display:none;

      }
      .card-container {
        width:95%;
        height:125px;
      }
      .station-concise {
        font-size: 11px;
        margin-top: 8px;
        margin-bottom: 6px;
        display: inline-block;
      }
      paper-item {
        width: 100%;
        --paper-item-min-height : 0px;
        --paper-item-focused-before : {
          background-color: #ffffff;
        };
      }
      paper-card {
      }
      .route-detail-item-horizontal-rule {
        border: 0;
        height: 1px;
        margin-bottom: 2px;
        background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      }
      #spinner {
        height: 16px;
        width: 16px;
      }
      .route-detail-item-train-detail {
        font-size : 80%;
        font-weight: bold;
      }
      .route-detail-item-train-number {
        font-size : 80%;
      }
      .route-detail-item-cost-detail {
        font-size: 80%;
        color: #00AA00;
      }
      .route-detail-item-journey-detail {
        font-size: 60%;
      }
      .route-detail-item-availability-detail {
        font-size: 70%;
      }
      .route-detail-item-horizontal-rule {
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      }
      #spinner {
         height: 18px;
         width: 18px;
      }

      .route-detail-item-train-detail {
        font-size : 80%;
        font-weight: bold;
      }

      .route-detail-item-cost-detail {
        font-size: 80%;
        color: #00AA00;
      }

      .route-detail-item-journey-detail {
        font-size: 60%;
      }

      .route-detail-item-availability-detail {
        font-size: 70%;
      }
      iron-icon {
        --iron-icon-width: 10px;
        --iron-icon-height: 10px;
        padding-bottom: 3px;
      }
      .hidden {
        display : none;
      }
      paper-button {
        padding: 0px;
        margin: 0px;
        font-size: 12px;
        min-width: 0px;
        width:100%;
      }
      paper-button.selected {
        background-color: #D6D7D8;
      }

    </style>

    <div>
      <span class="station-concise">
        <iron-icon id="startStationIcon"></iron-icon>
        <span id="departureHeader">
          Departure from
        </span>
        <span id="layoverHeader" class="hidden">
          [[formattedWaitTime]] Layover in
        </span>
        <b>[[formattedStation]]</b>
      </span>
    </div>

    <paper-card class="card-container">
      <div class="mobile-route-detail-item card-content">
        <div class="route-detail-item-full-detail">
          <paper-fab mini class="label" label="SF" title="SuperFast"></paper-fab>
          <paper-item>
            <paper-item-body>
              <div class="route-detail-item-train-detail">
                <div>
                  <span class="route-detail-item-train-name">[[routeItem.trainName]]</span>
                  <span secondary class="route-detail-item-train-number">[[routeItem.trainNumber]]</span>
                </div>
                <div class="route-detail-item-cost-detail">
                  <span class="route-detail-item-train-cost">[[routeItem.cost]]</span>
                </div>
              </div>
              <div class="route-detail-item-journey-detail">
                <span class="route-detail-item-start-time">[[routeItem.formattedStartTime]]</span>
                <span class="route-detail-item-journey-duration">[[routeItem.formattedJourneyDuration]]</span>
                <span class="route-detail-item-end-time">[[routeItem.formattedEndTime]]</span>
              </div>
            </paper-item-body>
          </paper-item>
        </div>
        <hr class="route-detail-item-horizontal-rule">
        <div class="route-detail-item-availability-detail">
          <paper-item>
            <paper-item-body>
              <div style="display: flex">
                  <template is="dom-repeat" id="train-class" items="[[routeItem.trainClassList]]" selected="">
                    <div style="display: block;width: 50px;">
                      <paper-button toggles name="[[item]]" class$="{{selectedClass(index)}}" on-tap="_onClassSelection">[[item]]</paper-button>
                      <span id="availibilitySpan" class="route-detail-item-train-availability" style="color: green">{{_getClassAvailability(trainIndex, index)}}</span>
                    </div>

                  </template>
              </div>
              <div class="availibilityArea">
                <!-- <paper-spinner alt="Loading Availibility" id="spinner" active class="route-detail-item-train-availability-spinner"></paper-spinner> -->
              </div>

              <iron-ajax url="/api/getAvailabilities" on-response="handleResponse" handle-as="json"
                         id="getAvailabilitiesIronAjax"
                         content-type="application/json" body="[[param]]"
                         method="POST"></iron-ajax>
            </paper-item-body>
          </paper-item>
        </div>
      </div>
    </paper-card>
    <div>
      <span class="station-concise" id="arriveStation">
        <iron-icon icon="communication:call-received" style="transform: rotate(270deg)"></iron-icon>
        Arrive at
        <b>[[formattedArrivalStation]]</b>
      </span>
    </div>
  </template>

  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'mobile-route-detail-item',
        properties: {
          routeItem: Object,
          routeList: {
            type:Array,
            value:[]
          },
          selectedClass: {
            type : String,
            value : "SL"
          },
          availibility: {
            type: Object,
            value: {}
          },
          index:Number
        },
        observers: [
          '_onRouteListAndIndexChanged(routeItem,routeList, trainIndex)'
        ],
        _onRouteListAndIndexChanged: function (routeItem,routeList,trainIndex) {
          this.trainIndex=trainIndex;
          if(!Util.isNullOrUndefined(this.index) &&
            !Util.isNullOrUndefined(routeList) && routeList.length!==0 &&
            trainIndex<routeList.length){
            this.formattedStation=this._findStation(routeList);
            this.formattedArrivalStation=this._findArriveStation(routeList);
            this.formattedWaitTime=this._findWaitTime(routeList);
          }
        },
        _findStation: function(routeList) {
          var l = routeList.length;
          var icon = this.$.startStationIcon;
          var $departureHeader = this.$.departureHeader;
          var $layoverHeader = this.$.layoverHeader;

          if (this.trainIndex === 0) {
            icon.setAttribute("icon" , "communication:call-made");
            $departureHeader.classList.remove('hidden');
            $layoverHeader.classList.add('hidden');
            return routeList[this.trainIndex].srcName + ' (' + routeList[this.trainIndex].srcCode + ')';
          } else {
            $layoverHeader.classList.remove('hidden');
            $departureHeader.classList.add('hidden');
            icon.setAttribute("icon" , "query-builder");
            return routeList[this.trainIndex-1].destName + ' (' + routeList[this.trainIndex-1].destCode + ')';
          }
        },
        _findArriveStation: function(routeList) {
          var l = routeList.length;
          var icon = this.$.arriveStation;
          if(this.trainIndex === l-1) {
            icon.style.display = "";
            return routeList[this.trainIndex].destName + ' (' + routeList[this.trainIndex].destCode + ')';
          }else{
            icon.style.display = "none";
            return "";
          }
        },
        _findWaitTime: function(routeList) {
          if (this.trainIndex != 0) {
            var endTime = Number(routeList[this.trainIndex].startTime);
            var startTime = Number(routeList[this.trainIndex - 1].endTime);
            return Util.formatWaitingTime(startTime,endTime);
          }
         },
        _onClassSelection : function(e) {
          var children = this.querySelectorAll('.mobile-detail-item-train-class');
          for(var i =0;i<children.length;i++){
            if(children[i].classList.contains("selected")){
              children[i].classList.toggle("selected");
              break;
            }
          }
          var targetClass = e.target.innerText;
          this.param = {trains: [{
            trainCode: this.routeItem.trainNumber,
            src: this.routeItem.srcCode,
            dest: this.routeItem.destCode,
            startTime: moment(this.routeItem.startTime).format('DD-MM-YYYY'),
            class: targetClass,
            quota: 'GN'
          }]};
          document.querySelector("#getAvailabilitiesIronAjax").generateRequest();
          //Send Request
          if(this.availibility[targetClass] == undefined){
            this.availibility[targetClass] = 'W/L 24';
            e.target.parentElement.children[1].innerText = this.availibility[targetClass];
          }

          e.target.classList.toggle("selected");
        },
        handleResponse: function(res) {
          console.log(res);
        },
          _getClassAvailability : function(trainIndex, index) {
//            this.toggleClass("route-detail-item-train-availability-hidden", false, self.$$('#availabilitySpan'));
//            this.toggleClass("route-detail-item-train-availability", true, self.$$('#availabilitySpan'));
//            this.toggleClass("route-detail-item-train-availability-spinner", false, self.$$('#spinner'));
//            this.toggleClass("route-detail-item-train-availability-spinner-hidden", true, self.$$('#spinner'));
            if(this.availibility[trainIndex] == undefined){
              this.availibility[trainIndex] = {};
              this.availibility[trainIndex][index] = 25;
            }
            if(this.availibility[this.trainIndex][index] == undefined) {
              this.availibility[this.trainIndex][index] = 25;
            }
            return this.availibility[trainIndex][index];
          },
          selectedClass : function(index) {
            if(index == 0){
              return "selected mobile-detail-item-train-class";
            }
            return "mobile-detail-item-train-class";
          }
        })
    })();
  </script>

</dom-module>
