
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../mobile-route-item-line/mobile-route-item-line.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<dom-module id="mobile-route-list-item-new">
  <template>
    <style>
      .route-item-end-time {
      }

      :host{
         padding:0 var(--size-base);
       }
      :root{

        --paper-card: {
          width:100%;
          margin-bottom: 16px;
        };
        --route-line-hop:{
          font-size: 12px;
          color: #7f7f7f;
        }
      }
      .mobile-route-item-top{
        display:flex;
        justify-content: space-between;

      }
      .mobile-route-item-bottom{
        padding-top: 12px;
      }
      .mobile-route-item-disabled{
        background-color: var(--bg-gray-color-30);
      }
      .mobile-route-item-below-price{
        color:var(--text-info);
        margin-top:var(--size-base);
      }
      .route-item-journey-time{
        display: block;
        font-weight: bold;
      }
      .mobile-route-item-lines{
        width:100%;
      }
      .route-item-start-time{
      }
      .route-item-end-time{
      }
    </style>

    <paper-card id="mobile-route-list-item-paper" class="mobile-route-item-disabled">
      <div class="card-content ">
        <div class="mobile-route-item-top">
          <span class="route-item-start-time">[[routeItem.startTime]]</span>
          <span class="route-item-journey-time">[[getFormattedJourneyTime(routeItem.totalJourneyTime)]]</span>
          <span class="route-item-end-time">[[routeItem.endTime]]</span>
        </div>
        <div class="mobile-route-item-bottom">
          <mobile-route-item-line train-list="[[routeItem.trainList]]" id="mobile-route-item-line" class="mobile-route-item-lines"
                                  start="[[routeItem.start]]" price="[[routeItem.price]]"></mobile-route-item-line>

        </div>
      </div>
    </paper-card>

  </template>
  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'mobile-route-list-item-new',

        properties: {
          routeItem: {
            type: Object
          },
          trainList: {
            type: Array,
            value: [
              {length: 10, destination: "SPN"},
              {length: 10, destination: "SPN"}
            ]
          }
        },
        getFormattedPrice:function(price){
          return "RS " +price;

        },
        getFormattedJourneyTime:function(journeyTime){
            var days=journeyTime%24;
            if(days===0){
              return journeyTime+"h";
            }
            var hour=journeyTime-24*days;
            return days+"d "+hour+"h"
        },
        setAvailability:function(availability){
          if(!Util.isNullOrUndefined(availability)){
            this.$['mobile-route-list-item-paper'].classList.remove('mobile-route-item-disabled');
            this.$['mobile-route-item-line'].setLinesAvailability(availability);
          }
        }

      });
    })();
  </script>
</dom-module>
