<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">

<dom-module id="mobile-station-item">
  <template>
    <style>
      :host {
        display: block;
      }

      .mobile-station-item-top {
        display: flex;
        padding: 10px 0px;
        position:relative;
      }

      .mobile-station-code {
        margin-right: 10px;
        background-color: #999;
        border-radius: 5px;
        padding: 2px 8px;
        text-align: center;
        width: 40px;
      }

      .mobile-station-name {

      }

      .mobile-station-name-span {
        vertical-align: text-top;
      }
    </style>
    <div class="mobile-station-item-top" >
      <div class="mobile-station-code">
        [[stationItem.code]]
      </div>
      <div class="mobile-station-name">
              <span class="mobile-station-name-span">
                 [[stationItem.name]]
              </span>
      </div>
      <paper-ripple recenters></paper-ripple>
    </div>
  </template>
  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'mobile-station-item',

        properties: {
          stationItem: {
            type: Object
          }

        }
      });
    })();
  </script>
</dom-module>
