<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-in-animation.html">

<dom-module id="spinner-on-backdrop">
  <template>
    <style>
      :host {
        display: flex;
        position: absolute;
        height: calc(100% - 64px);
        width: 100%;
        align-items: center;
        justify-content: center;
      }

      .hidden {
        display: none;
      }
    </style>

    <div id="wrapper">
      <paper-spinner id="loadSpinner" active></paper-spinner>
    </div>
  </template>
  <script>
    Polymer({
      is: "spinner-on-backdrop",
      properties: {
        isHidden: {
          type: Boolean,
          value: true
        },
        animationConfig: {
          type: Object,
          value: function() {
            return {
              'fadeout': [{
                name: 'fade-out-animation',
                node: this.$.wrapper
              }],
              'fadein': [{
                name: 'fade-in-animation',
                node: this.$.wrapper
              }]
            }
          }
        }
      },
      behaviors: [
        Polymer.NeonAnimationRunnerBehavior
      ],
      listeners: {
        'neon-animation-finish': '_onAnimationFinish'
      },
      hide: function() {
        if (!this.isHidden) {
          this._prepareBeforeAnimation();
          this.isHidden = true;
          this.playAnimation('fadeout');
        }
      },
      show: function() {
        if (this.isHidden) {
          this._prepareBeforeAnimation();
          this.isHidden = false;
          this.playAnimation('fadein');
        }
      },
      _prepareBeforeAnimation: function() {
        if (this.hidden) {
          this.style.opacity = 0;
          this.$.wrapper.classList.remove("hidden");
        } else {
          this.style.opacity = 1;
        }
      },
      _onAnimationFinish: function() {
        this.isHidden ? this.$.wrapper.classList.add("hidden") : this.$.wrapper.classList.remove("hidden");
      }
    });
  </script>
</dom-module>
