<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../dynamic-div/dynamic-div.html">
<dom-module id="mobile-route-item-line">
  <template>
    <style>
      :host {
        min-width: 150px;
      }

      :root{
        --dynamic-div:{
            height: 20px;
        }
      }
      .route-line-circle {
        width:8px;
        height: 8px;
        border-radius: 8px;
        border: 2px solid;
        margin-top: 10px;
        color:var(--default-primary-color);
      }
      .route-line-circle-inside-loop{
        width:inherit !important;
      }
      .route-line-line {
        width: 100%;
        height: 2px;
        background-color: var(--default-primary-color);
        border: 0;
        margin-top: 16px;
      }

      .route-line {
        display: flex;
      }

      .route-line-hop {
        margin-top: 2px;
        @apply(--route-line-hop);
        text-align: center;
      }

      .route-line-hop-container {

      }
      .route-line-train-number{
        font-size: 12px;
        color: #7f7f7f;
        font-weight: bold;
        text-align: center;
      }

      .route-line-hop-line{
        margin-top:2px !important;
      }
      .route-line-container {
        flex-grow: 1;
      }
      .route-line-circle-container{
        display: flex;
      }
      .route-line-extra{
        height: 2px;
        background-color: var(--default-primary-color);
        border: 0;
        margin-top: 16px;
        flex-grow: 1 ;
      }
    </style>


    <div class="route-line">
      <div class="route-line-hop-container">
        <div class="route-line-circle-container">
          <div class="route-line-circle"></div>
          <hr class="route-line-extra "/>
        </div>

        <div class="route-line-hop">{{start}}</div>
      </div>
      <template is="dom-repeat" id="trainLine" items="[[trainList]]">
        <div class="route-line-container">
          <div class="route-line-train-number">{{item.trainNumber}}</div>
          <hr class="route-line-line  route-line-hop-line"/>
        </div>
        <div class="route-line-hop-container">
          <div class="route-line-circle-container">
            <hr class="route-line-extra "/>

            <div class="route-line-circle route-line-circle-inside-loop" >
              <dynamic-div id="unique-div" inlinestyle="[[getCustomStyle(index,item)]]"></dynamic-div>
            </div>
          </div>
          <div class="route-line-hop">{{item.destCode}}</div>
        </div>
      </template>
    </div>
  </template>
  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'mobile-route-item-line',
        properties: {
          start: {
            type: String
          },
          price: {
            type: String
          },
          hideTrainNames: {
            type: Boolean,
            value: false
          },
          trainList:{
            type:Array
          }
        },
        getCustomStyle:function(index,item){

          var obj={};
          if(index===this.trainList.length-1){
            obj.width="8px";
          }
          else{
            obj.width=this.computeCircleWidth_(item.waitTime)+"px";
          }
          return obj;
        },
        computeCircleWidth_: function (waitingTime) {
          if (waitingTime < 2) {
            return 16;
          }
          var waitingResult=Math.floor(16 + (waitingTime - 2) * 4);
          return waitingResult>APP_CONSTANTS.MAX_CIRCLE_WIDTH ? APP_CONSTANTS.MAX_CIRCLE_WIDTH:waitingResult;
        },
        resetCirclesWidth : function(circles){
          for (var i = 0; i < circles.length; i++) {
            circles[i].style.width= "8px";
          }
        },
        ready: function () {

        }
      });
    })();
  </script>
</dom-module>
