<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../mobile-station-item/mobile-station-item.html">
<dom-module id="mobile-station-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-repeat" id="menu" items="[[stationList]]">

      <mobile-station-item station-item="[[item]]" on-tap="onItemTap"></mobile-station-item>
    </template>
  </template>
  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'mobile-station-list',

        properties: {
          stationList: {
            type: Array
          },
          selectedStation:{
            type:Object,
            value:{},
            notify:true
          }
        }, onItemTap: function (e) {
          setTimeout(function() {
            this.selectedStation=e.model.item;
            // Whatever you want to do after the wait
          }.bind(this), 200);

        }
      });
    })();
  </script>
</dom-module>
