<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">


<dom-module id="trip-basic-card">
  <template>

    <style is="custom-style" include="iron-flex iron-flex-alignment">

      :host {
        margin-bottom: 20px;
        display: block;
      }

      .seconday-items {
        color: var(--google-grey-700);
        font-size: 13px;
      }

      iron-icon.trip-basic-card-train-icon {
        --iron-icon-font-size: 50px;
        color: var(--paper-teal-500);
      }

      .trip-basic-card-content {
        min-width: 600px;
        max-width: 600px;
      }
      .trip-basic-card-details-content{
        min-width: 600px;
        max-width: 600px;
      }

      .trip-basic-card-main-column {
        width: 60%;
        padding-right: 2.5%;

      }

      .trip-basic-card-first-column {
        max-width: 100px;
      }

      .trip-basic-card-more-details {
        margin-top: 10px;

      }

      .trip-basic-card-more-details paper-button {
        font-size: 14px;
        text-decoration: underline;
        text-transform: capitalize;

      }

      .trip-basic-card-available-column {
        font-weight: 500;

      }

      iron-icon.star:last-of-type {
        color: var(--paper-grey-500);
      }
    </style>

    <paper-card>
      <div class="card-content">

        <div class="trip-basic-card-content layout horizontal justified wrap">
          <div class="trip-basic-card-first-column flex-3 margin-right-10">
            <iron-icon icon="maps:directions-transit" class="trip-basic-card-train-icon"></iron-icon>
          </div>
          <div class="trip-basic-card-main-column  flex-1 layout vertical justified wrap margin-right-10">
            <div class="trip-basic-card-main-column-content layout horizontal justified margin-bottom-10">
              <div class="trip-basic-card-main-column-slots layout vertical justified margin- right-10 ">
                <div class="trip-basic-card-main-time margin-bottom-5">22:40 - 19:20 +1</div>
                <div class="trip-basic-card-main-trains seconday-items">Multiple Trains</div>
              </div>
              <div class="trip-basic-card-main-column-travel-time layout vertical justified margin-right-10">
                <div class="trip-basic-card-main-time-travel-text margin-bottom-5"> 23h 10m</div>
                <div class="trip-basic-card-main-locations seconday-items">SPN - SC</div>
              </div>
              <div class="trip-basic-card-main-column-stops layout vertical justified ">
                <div class="trip-basic-card-main-stops-count margin-bottom-5">2 Stops</div>
                <div class="trip-basic-card-main-stops seconday-items">CMB, DEL</div>
              </div>

            </div>
            <div class="trip-basic-card-main-footer-text seconday-items">

            </div>
          </div>
          <div class="trip-basic-card-available-column flex-2 bold">
            Available
          </div>
        </div>
        <div class="trip-basic-card-more-details">

          <paper-button>More Details</paper-button>
          <paper-icon-button icon="{{_icon(isCollapsed)}}" title="more info" on-tap="expandForDetails"
                             class="trip-basic-card-details-explore">
          </paper-icon-button>

        </div>
        <iron-collapse id="ironCollapse" >
          <div class="trip-basic-card-details-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent enim ante, tempus eget volutpat ac, cursus
            ac ante. Nulla facilisi. Praesent sed lacinia ligula. Donec malesuada nisl eget quam iaculis, vel placerat
            justo cursus.
          </div>

        </iron-collapse>
      </div>

    </paper-card>
  </template>
  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'trip-basic-card',

        properties: {
          foo: {
            type: String,
            value: 'trip-basic-card',
            notify: true
          },
          isCollapsed: {
            type: Boolean,
            value: true
          }
        },
        expandForDetails: function () {
            this.isCollapsed=!this.isCollapsed;
            this.$.ironCollapse.toggle();
        },
        _icon: function (isCollapsed) {
          return isCollapsed ? 'hardware:keyboard-arrow-up' : 'hardware:keyboard-arrow-down'
        }
      });
    })();
  </script>
</dom-module>
