<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../mobile-route-detail-item/mobile-route-detail-item.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">

<dom-module id="mobile-route-detail">
  <template>
    <style>
      :host {
        display: block;
        max-width: 800px;
        margin: 0 auto;
      }
      paper-scroll-header-panel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--paper-grey-200, #eee);;
      }
      paper-toolbar {
        background-color: var(--google-blue-500, #4285f4);
      }
      paper-toolbar .title {
        margin: 0 8px;
      }
      paper-scroll-header-panel .content {
        padding: 8px;
      }
      paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      .spacer {
        @apply(--layout-flex);
      }
      mobile-route-detail-item {
        @apply(--layout-vertical);
        @apply(--layout-center);
      }
      mobile-route-detail-item {
        @apply(--layout-vertical);
        @apply(--layout-center);
        padding-top: 4px;
      }
    </style>

    <!--<paper-scroll-header-panel fixed>-->
      <!--<paper-toolbar>-->
        <!--<paper-icon-button icon="arrow-back"></paper-icon-button>-->
        <!--<div class="spacer title">{{_findStartStationCode(routeList)}} to {{_findEndStationCode(routeList)}}</div>-->
        <!--<paper-icon-button icon="more-vert"></paper-icon-button>-->
      <!--</paper-toolbar>-->
    <!--</paper-scroll-header-panel>-->
      <template is="dom-repeat" id="menu" items="[[routeList]]">
        <mobile-route-detail-item route-item="[[item]]" route-list="[[routeList]]" train-index="[[index]]"></mobile-route-detail-item>
      </template>



  </template>
  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'mobile-route-detail',
        properties: {
          routeList: {
            type: Array,
            value: [
              {date:"4/13/2016", formattedStartTime: "11:00", formattedEndTime: "22:30",
                startTime:"1462104353",endTime:"1463111553",
                formattedJourneyDuration: "5h 35m",
                trainName: "Bkn Koaa Superfast Express", trainNumber: "123456", cost: "3000",
                srcName: "New Delhi", srcCode: 'NDLS', destName: "Bombay Central",
                destCode: 'BCT', trainClassList: ["SL" ,"3A" ,"2A"]},
              {date:"5/13/2016",formattedStartTime: "11:00", formattedEndTime: "15:35",
                startTime:"1464124353",endTime:"1465115553",
                formattedJourneyDuration: "5h 35m", trainName: "Sabarmati Express", trainNumber: "123456", cost: "3000 INR",
                srcName: "Bombay Central", srcCode: 'BCT', destName: "New York",
                destCode: 'NY', trainClassList: ["SL" ,"3A" ,"2A","2S"]},
              {date:"5/13/2016",formattedStartTime: "18:00", formattedEndTime: "22:30",
                startTime:"1466144353",endTime:"1467111553",
                formattedJourneyDuration: "5h 35m", trainName: "Sabarmati Express", trainNumber: "123456", cost: "3000 INR",
                srcName: "New York", srcCode: 'NY', destName: "Wellington",
                destCode: 'WEL', trainClassList: ["SL" ,"3A" ,"2A"]}]
          }
        },
        _findStartStationCode: function(routeList) {
          return routeList[0].startStationCode;
        },
        _findEndStationCode: function(routeList) {
          return routeList[routeList.length - 1].endStationCode;
        },
        setRouteList: function(selectedRoute){
          this.route=selectedRoute;

          // Clears the array and replace it with passed value
          this.splice('routeList',0,this.routeList.length);
          selectedRoute.trainList.forEach(function(element){
            this.push('routeList',element);
          }.bind(this));

        }
      });
    })();
  </script>
</dom-module>
