<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">

<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">

<dom-module id="mobile-app-header">
  <template>
    <style>
      :host {
        display: block;

      }

      :host #topBar {
        padding: 0;
      }

      .app-name {
        font-size: 16px;
      }

      .flex {
        display: flex;
      }

      .list-page-detail {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
      }

      .search-page-app-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    </style>
    <div class="container flex">
      <div class="search-page-header flex" hidden$="{{!isSearchPage(selectedPage)}}">

        <span class="space"></span>


        <!-- Application name -->
        <div class="middle middle-container search-page-app-container flex">
          <div class="flex">
            <iron-icon icon="maps:directions-transit"></iron-icon>

            <div class="app-name">LTEROUTE</div>
          </div>

        </div>
      </div>
      <div class="list-page flex" hidden$="{{!isDetailPage(selectedPage)}}">
        <paper-icon-button id="paperBack" icon="arrow-back" paper-drawer-toggle
                           on-tap="_onDetailPageBackPressed"></paper-icon-button>

        <span class="space"></span>


        <!-- Application name -->
        <div class="middle middle-container flex">
          <div class="list-page-detail">

            <div class="list-page-place-detail">{{detailPageHeader}}</div>
            <div class="list-page-date">{{detailPageDate}}</div>
          </div>
        </div>
      </div>
      <div class="list-page flex" hidden$="{{!isListPage(selectedPage)}}">
        <paper-icon-button id="paperBack" icon="arrow-back" paper-drawer-toggle
                           on-tap="_onListPageBackPressed"></paper-icon-button>

        <span class="space"></span>


        <!-- Application name -->
        <div class="middle middle-container flex">
          <div class="list-page-detail">

            <div class="list-page-place-detail">{{listPageDetail}}</div>
            <div class="list-page-date">{{listPageDate}}</div>
          </div>
        </div>
      </div>

    </div>


  </template>
  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'mobile-app-header',
        properties: {
          listPageDetail: {
            type: String,
            value: 'Shahjehanpur to Secundrabad'
          },
          listPageDate: {
            type: String,
            value: 'Thursday, 12 May 2016'
          },
          selectedPage: {
            type: String,
            value: "search"
          }
        },
        switchToListHeader: function (param) {
          this.listPageParam = param;
          this.listPageDetail = param.source.name + " to " + param.destination.name;
          this.listPageDate = moment(param.date).format('dddd, D MMM YYYY');
          setTimeout(function(){
            this.selectedPage = "route-list";
            document.getElementById('paperToggle').hidden = true;
            this.selectPage("route-list");
          }.bind(this),APP_CONSTANTS.PAGE_SWITCH_TIME);
        },
        switchToDetailPage: function (param) {
          this.detailPageParam = param;
          this.detailPageHeader = param.source.name + " to " + param.destination.name;
          this.detailPageDate = moment(param.date).format('dddd, D MMM YYYY');
          setTimeout(function(){
            this.selectedPage = "route-detail";
            document.getElementById('paperToggle').hidden = true;
            this.selectPage("route-detail");
          }.bind(this),APP_CONSTANTS.PAGE_SWITCH_TIME);

        },
        switchToSearchPage: function () {
          setTimeout(function () {
            this.selectedPage = "search";
            document.getElementById('paperToggle').hidden = false;
            this.selectPage("search");

          }.bind(this), APP_CONSTANTS.PAGE_SWITCH_TIME);

        },
        getListPageParam: function () {
          return this.listPageParam;
        },
        isSearchPage: function () {
          return this.selectedPage === "search";
        },
        isDetailPage: function () {
          return this.selectedPage == "route-detail";
        },

        isListPage: function () {
          return this.selectedPage == "route-list";
        },
        _onListPageBackPressed: function (e) {
          this.switchToSearchPage();
        },
        _onDetailPageBackPressed: function (e) {

          this.switchToListHeader(this.getListPageParam());
        },
        selectPage: function (page) {
          var pages = document.querySelector('iron-pages');
          pages.selected = page;
        }

      })
      ;
    })();
  </script>
</dom-module>
